a{
    font-size: larger;
    text-decoration: none;
    cursor: pointer;
    margin-left:80px ;
    margin-top: 5px;
    color: black;
    font-weight: bolder;
    text-align: center;

}
P{
width: 500px;
}

#ulone{
background-color:blueviolet;

height: 51px;

}
#ulone li{
display: inline;
list-style: none;
margin-right: 0px;
text-align: center;
margin-top: 20px;

}
#ulone li a{
    display: inline;
    list-style: none;
    margin-right: 20px;
    text-align: center;
    margin-top: 20px;
   
    }
#lithree a{
    
    background-color:white;
}
  a:hover{
            
    background-color:cornsilk;
    transition: 1s;
    
    }
a{
    font-size: larger;
    text-decoration: none;
    cursor: pointer;
    margin-left:80px ;
    margin-top: 5px;
    color: black;
    font-weight: bolder;
    text-align: center;

}