table{
    border: 2px solid black;
    width: 1000px;
    }
    td{
        border: .5px solid black;
    
    width: 62px;
    text-align: center;
    
    }
    th{
        
            border: .5px solid black;
        
        width: 60px;
        text-align: center;
        
        
    }
    
   #th5{
color:black;
width: 58.1px;
border: 2px solid black;
   }